In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
import random

In [86]:
#第一部分

#考試填空部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
df = pd.read_csv("titanic.csv")
length = len(df)
train_len = int(length*0.8)
test_len = int(length*0.2)
train_df = pd.DataFrame({i:df.loc[random.randint(0,length-1)] for i in range(train_len)}).T
test_df = pd.DataFrame({i:df.loc[random.randint(0,length-1)] for i in range(test_len)}).T

#考試填空部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

print('df:',len(df))
print('train_df:',len(train_df))
print('test_df:',len(test_df))

df: 891
train_df: 712
test_df: 178

In [85]:
def PreprocessData(raw_df):
    
    #第二部分
    #考試填空部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    raw_df= raw_df.drop(columns =['PassengerId', 'Name', 'Ticket', 'Cabin']) # drop
    # fillna
    raw_df['Age'].fillna(train_df['Age'].mean(),inplace=True)
    raw_df['Fare'].fillna(train_df['Age'].mean(),inplace=True)
    # female = 0, male = 1
    raw_df['Sex']=raw_df['Sex'].replace('female',0)
    raw_df['Sex']=raw_df['Sex'].replace('male',1)
    # one hot encoding
    raw_df['Embarked_C'] = False
    raw_df['Embarked_Q'] = False
    raw_df['Embarked_S'] = False
    lc =list(raw_df['Embarked'][raw_df['Embarked'] == 'C'].index)
    lq =list(raw_df['Embarked'][raw_df['Embarked'] == 'Q'].index)
    ls =list(raw_df['Embarked'][raw_df['Embarked'] == 'S'].index)
    for i in lc:
        raw_df.at[i, 'Embarked_C'] = True
    for i in lq:
        raw_df.at[i, 'Embarked_Q'] = True
    for i in ls:
        raw_df.at[i, 'Embarked_S'] = True
    
    raw_df = raw_df.drop(columns = 'Embarked') # drop
    
    x_OneHot_df = raw_df.copy()
    
    #考試填空部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー    

    ndarray = x_OneHot_df.values
    Features = ndarray[:,1:].astype(np.int_)
    Label = ndarray[:,0].astype(np.int_)
    print('ndarray ',ndarray.shape)
    print('Features ',Features.shape)
    print('Label ',Label.shape)
    minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
    scaledFeatures=minmax_scale.fit_transform(Features).astype(np.int_)
    print(x_OneHot_df.head(2))
    print("ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー")
    return scaledFeatures,Label

In [87]:
print("train_df")
train_Features,train_Label=PreprocessData(train_df)
print("test_df")
test_Features,test_Label=PreprocessData(test_df)

train_df
ndarray  (712, 10)
Features  (712, 9)
Label  (712,)
  Survived Pclass  Sex        Age SibSp Parch    Fare  Embarked_C  Embarked_Q  \
0        1      3    1  29.265204     0     0  7.7500       False        True
1        0      3    1  29.265204     0     0  7.7375       False        True

   Embarked_S
0       False
1       False
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
test_df
ndarray  (178, 10)
Features  (178, 9)
Label  (178,)
  Survived Pclass  Sex   Age SibSp Parch     Fare  Embarked_C  Embarked_Q  \
0        0      3    0  18.0     2     0  18.0000       False       False
1        0      3    1  28.0     0     0   7.8958       False       False

   Embarked_S
0        True
1        True
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

In [84]:
# test
# train_df.drop(columns =['PassengerId', 'Name', 'Ticket', 'Cabin'])
# print(train_df['Age'].fillna(train_df['Age'].mean()))
# train_df['Sex'][train_df['Sex']=='female'] =1
# # print(train_df['Embarked'])
# train_df['Embarked_C'] = False
# l =list(train_df['Embarked'][train_df['Embarked'] == 'C'].index)
# for i in l:
#     train_df.at[i, 'Embarked_C'] = True

# print(train_df['Embarked_C'][train_df['Embarked_C'] == True].index)
# print(train_df['Embarked_C'][train_df['Embarked_C'] == False].index)

    PassengerId Survived Pclass  \
0           383        0      3
1            57        1      2
2           822        1      3
3           854        1      1
4           169        0      1
..          ...      ...    ...
707         887        0      2
708         882        0      3
709          79        1      2
710         557        1      1
711         241        0      3

                                                  Name     Sex   Age SibSp  \
0                                   Tikkanen, Mr. Juho    male  32.0     0
1                                    Rugg, Miss. Emily  female  21.0     0
2                                    Lulic, Mr. Nikola    male  27.0     0
3                            Lines, Miss. Mary Conover  female  16.0     0
4                                  Baumann, Mr. John D    male   NaN     0
..                                                 ...     ...   ...   ...
707                              Montvila, Rev. Juozas    male  27.0     0
708                                 Markun, Mr. Johann    male  33.0     0
709                      Caldwell, Master. Alden Gates    male  0.83     0
710  Duff Gordon, Lady. (Lucille Christiana Sutherl...  female  48.0     1
711                              Zabour, Miss. Thamine  female   NaN     1

    Parch             Ticket     Fare Cabin Embarked
0       0  STON/O 2. 3101293    7.925   NaN        S
1       0         C.A. 31026     10.5   NaN        S
2       0             315098   8.6625   NaN        S
3       1           PC 17592     39.4   D28        S
4       0           PC 17318   25.925   NaN        S
..    ...                ...      ...   ...      ...
707     0             211536     13.0   NaN        S
708     0             349257   7.8958   NaN        S
709     2             248738     29.0   NaN        S
710     0              11755     39.6   A16        C
711     0               2665  14.4542   NaN        C

[712 rows x 12 columns]