In [8]:
import pandas as pd

f1 = pd.read_csv("AQI-2023-01.csv")
f2 = pd.read_csv("AQI-2023-02.csv")
f3 = pd.read_csv("AQI-2023-03.csv")

# 將三個 DataFrame 結合為一個
df_all = pd.concat([f1, f2, f3])

# 找高雄市
# .isin => 篩選某列(column)中的數據是否有list中的元素
df_kh = df_all[df_all['"county"'].isin(['高雄市'])]

# 把具有空值(null)的資料整列(row)去除
df_kh = df_kh.dropna(subset=['"aqi"', '"pm2.5_avg"', '"pm10_avg"', '"so2_avg"'])

# # 將 datacreationdate 欄位轉換為日期格式
df_kh['"datacreationdate"'] = pd.to_datetime(df_kh['"datacreationdate"'])

# 將 datacreationdate 欄位的時間部分移除
df_kh['"datacreationdate"'] = df_kh['"datacreationdate"'].dt.to_period('D').dt.strftime("%Y-%m-%d")

# 計算不同監測站當天各項數值的平均
df_kh = df_kh.groupby(['"siteid"', '"sitename"', '"datacreationdate"'])[['"aqi"', '"pm2.5_avg"', '"pm10_avg"', '"so2_avg"']].mean()
df_kh = df_kh.round(2)
df_kh = df_kh.reset_index()

# 調整欄位順序並改變日期格式
df_avg = df_kh[['"siteid"', '"sitename"', '"aqi"', '"pm2.5_avg"', '"pm10_avg"', '"so2_avg"', '"datacreationdate"']]
df_avg.set_index('"siteid"',inplace=True)

# 寫進csv檔
df_avg.to_csv('AQI.csv')

In [9]:
df_avg

,"""sitename""","""aqi""","""pm2.5_avg""","""pm10_avg""","""so2_avg""","""datacreationdate"""
"""siteid""",,,,,,
47,美濃,80.83,27.58,45.88,1.00,2023-01-01
47,美濃,63.33,20.71,32.54,0.38,2023-01-02
47,美濃,77.59,26.27,36.64,0.00,2023-01-03
47,美濃,51.25,16.17,27.33,0.00,2023-01-04
47,美濃,77.25,26.12,46.08,0.00,2023-01-05
...,...,...,...,...,...,...
202,高雄(湖內),76.17,25.62,42.62,1.12,2023-03-27
202,高雄(湖內),75.46,25.46,41.21,1.00,2023-03-28
202,高雄(湖內),78.92,26.83,42.88,1.00,2023-03-29
202,高雄(湖內),68.83,22.75,40.88,1.00,2023-03-30
202,高雄(湖內),82.54,28.29,47.96,1.21,2023-03-31